<%# the action attribute holds the url of the request it triggers on submit %>
<%# the name attribute enables you to set the key of the corresponding parameter %>
<p>Ask your coach anything:</p>
<form action="answer">
  <input type="text" name="answer">
  <input type="submit" value="Ask">
</form>
